/* Figure out at least 5 DIFFERENT ways to fill in the blank */
/* All 5 answers should produce the same output on the webpage */
/* Write your answers in pseudocode (comment form) */


 html {
    text-align: center;
    font-family: helvetica;
    color: #00C5EF;
}
/*h1, div, body, #unique, html   /*


